*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar{
    padding: 0px;
    margin: 0px;
    height: 80px;
}
.navbar img{
    height: 80px;
}

.navbar a{
    color: #fff;
}

.navbar ul{
    display: flex;
    gap: 15px;
}