* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.navbar {
    padding: 0px;
    margin: 0px;
    height: 70px;
}

.navbar img {
    height: 70px;
}

.navbar a {
    color: #fff;
}

.navbar a:hover{
    color: #ffc940;
}


.navbar ul {
    display: flex;
    gap: 15px;
}
.navbar a:hover{
    color: #ffc940;
}

.scroll-field {
    overflow-y: auto;
    height: calc(100vh - 70px);
   

}